<div class="content">
    <div>
        <div class="header">
            <h1>{{title}}</h1>
        </div>
        <table class="admin-table" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="td1"><em class="red">*</em>商品分类</td>
                <td>
                    <select class="form-control" style="width: 320px">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </td>
            </tr>
            <tr ng-if="isEdit">
                <td class="td1"><em class="red">*</em>商品编号</td>
                <td>
                    <div class="form-control" style="width: 320px;" disabled>{{productDetail.ProductNo}}</div>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品名称</td>
                <td>
                    <input type="text" ng-model="productDetail.Name" maxlength="100" class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"
                    />
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>封面图片</td>
                <td>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td style="color: red">(请选择1张封面图片)</td>
                            </tr>
                            <tr ng-if="productImgUrl != null">
                                <td class="panel-body gallery">
                                    <img  ng-src="{{baseImgServer}}{{productImgUrl}}" class="img-rounded" style="width: 140px;height: 140px">
                                    <div class="clearfix"></div>
                                    <a ng-if="productImgUrl != null" ng-click="img_del(productImgUrl,1)">删除</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td1"></td>
                <td>
                    <label>
                        <input type="file" id="one-input" accept="image/*" file-model="images" onchange="angular.element(this).scope().fmImg_upload(this.files)"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品价格</td>
                <td>
                    <input type="number" ng-model="productDetail.Price" maxlength="100" class="form-control" placeholder="请输入商品价格" style="width: 320px; display: inline-block;"
                    />
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品尺寸</td>
                <td>
                    <input type="text" ng-model="productDetail.Size" maxlength="100" class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"
                    />
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品颜色</td>
                <td>
                    <input type="text" ng-model="productDetail.Color" maxlength="100" class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"
                    />
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>商品简介</td>
                <td>
                    <textarea class="form-control" ng-model="productDetail.Introduction" rows="3" style="resize: none; width: 320px"></textarea>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>轮播图片</td>
                <td>
                    <div class="panel panel-default">
                        <table class="table">
                            <tr>
                                <td style="color: red">(提示：最多选择4张封面图片)</td>
                            </tr>
                            <tr>
                                <td class="panel-body gallery" ng-repeat="item in ProductImages">
                                    <img ng-src="{{baseImgServer}}{{item.Url}}" class="img-rounded" style="width: 140px;height: 140px">
                                    <div class="clearfix"></div>
                                    <a ng-if="item.Url" ng-click="img_del(item,2)">删除</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td>
                    <label>
                        <input type="file" id="four-input" accept="image/*" file-model="images" onchange="angular.element(this).scope().lbImg_upload(this.files)"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>正文</td>
                <td>
                    <div style="width: 800px;">
                        <div class="form-control summernote" id="summernote_sp"></div>
                    </div>
                </td>
            </tr>
            <!--<tr>
                <td class="td1"><em class="red">*</em>正文</td>
                <td>
                    <div ng-bind-html="productDetail.Content"></div>
                </td>
            </tr>-->
            <!--<tr>
                <td class="td1"><em class="red">*</em>商品有效日期</td>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control form_datetime" data-date-format="yyyy-mm-dd" placeholder=""/>
                        <span class="input-group-addon" id="basic-addon2">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        </span>
                    </div>
                </td>
            </tr>-->

            <tr>
                <td class="td1"></td>
                <td>
                    <button id="publish_btn" ng-if="!isEdit" data-ng-click="save()" class="vs-bt bt-primary mr20">发布</button>
                    <button id="update_btn" ng-if="isEdit" data-ng-click="update()" class="vs-bt bt-primary mr20">更新</button>
                    <button onclick="window.history.back()" class="vs-bt bt-default">取消</button>
                </td>
            </tr>
        </table>
    </div>
</div>