<div class="content"  >
    <div>
        <table class="admin-table" border="0" cellspacing="0" cellpadding="0">
         
           
            <tr>
                <td class="td1"><em class="red">*</em>客户名称</td>
                <td>
                    <input type="text" ng-model="customer.Name" maxlength="100"
                           class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"/>
                </td>
            </tr>
            <tr>
                <td class="td1"><em class="red">*</em>手机</td>
                <td>
                    <input type="text" ng-model="customer.Phone" maxlength="100"
                           class="form-control" placeholder="最多不超过20字符" style="width: 320px; display: inline-block;"/>
                </td>
            </tr>
            
            <tr>
                <td class="td1"></td>
                <td>
                     <button ng-if="isEdit" data-ng-click="update()" class="vs-bt bt-primary mr20">修改</button>
                    <button   ng-if="!isEdit" data-ng-click="save()" class="vs-bt bt-primary mr20">保存</button>
                    <button data-ng-click="cancel()" class="vs-bt bt-default">取消</button>
                </td>
            </tr>
        </table>
    </div>
     
</div>